In [21]:
import pandas as pd

In [22]:
# Create data frame

data = {
    "Product": [1, 2, 3, 4],
    "Demand": [1000, 300, 100, 50],
    "Common_Ordering_Cost": [100, 100, 100, 100],
    "Specific_Ordering_Cost": [10, 20, 25, 25],
    "Unit_Cost": [50, 60, 30, 30],
    "Holding_Cost_Rate": [0.2, 0.2, 0.2, 0.2]
}

df = pd.DataFrame(data)

df['Holding_Cost_Per_Unit'] = df['Unit_Cost'] * df['Holding_Cost_Rate']
df['Fixed_Ordering_Cost'] = df['Common_Ordering_Cost'] + df['Specific_Ordering_Cost']
df

,Product,Demand,Common_Ordering_Cost,Specific_Ordering_Cost,Unit_Cost,Holding_Cost_Rate,Holding_Cost_Per_Unit,Fixed_Ordering_Cost
0,1,1000,100,10,50,0.2,10.0,110
1,2,300,100,20,60,0.2,12.0,120
2,3,100,100,25,30,0.2,6.0,125
3,4,50,100,25,30,0.2,6.0,125

# Question 1

In [23]:
# EOQ for each product
df['EOQ'] = round(((2 * df['Demand'] * df['Fixed_Ordering_Cost']) / df['Holding_Cost_Per_Unit']) ** 0.5, 2)

# Annual ordering cost for each product
df['Annual_Ordering_Cost'] = round((df['Demand'] / df['EOQ']) * df['Fixed_Ordering_Cost'], 2)

# Annual holding cost for each product
df['Annual_Holding_Cost'] = round((df['EOQ'] / 2) * df['Holding_Cost_Per_Unit'], 2)

# Total annual operational cost for each product
df['Total_Annual_Operational_Cost'] = round(df['Annual_Ordering_Cost'] + df['Annual_Holding_Cost'],2)

df

,Product,Demand,Common_Ordering_Cost,Specific_Ordering_Cost,Unit_Cost,Holding_Cost_Rate,Holding_Cost_Per_Unit,Fixed_Ordering_Cost,EOQ,Annual_Ordering_Cost,Annual_Holding_Cost,Total_Annual_Operational_Cost
0,1,1000,100,10,50,0.2,10.0,110,148.32,741.64,741.60,1483.24
1,2,300,100,20,60,0.2,12.0,120,77.46,464.76,464.76,929.52
2,3,100,100,25,30,0.2,6.0,125,64.55,193.65,193.65,387.30
3,4,50,100,25,30,0.2,6.0,125,45.64,136.94,136.92,273.86

In [25]:
round(df['Total_Annual_Operational_Cost'].sum(),1)

3073.9

# Question 2

In [26]:
# Calculate the order frequency
s_ast = 100 + df['Specific_Ordering_Cost'].sum()
n = 1000*10 + 300*12 + 100*6 + 50*6
d = 2 * s_ast

Order_Frequency = round((n / d) ** 0.5, 2)

Order_Frequency

6.35

In [27]:
# Calculate the optimal order size
df['Optimal_Order_Size'] = round(df['Demand'] / Order_Frequency, 2)

df

,Product,Demand,Common_Ordering_Cost,Specific_Ordering_Cost,Unit_Cost,Holding_Cost_Rate,Holding_Cost_Per_Unit,Fixed_Ordering_Cost,EOQ,Annual_Ordering_Cost,Annual_Holding_Cost,Total_Annual_Operational_Cost,Optimal_Order_Size
0,1,1000,100,10,50,0.2,10.0,110,148.32,741.64,741.60,1483.24,157.48
1,2,300,100,20,60,0.2,12.0,120,77.46,464.76,464.76,929.52,47.24
2,3,100,100,25,30,0.2,6.0,125,64.55,193.65,193.65,387.30,15.75
3,4,50,100,25,30,0.2,6.0,125,45.64,136.94,136.92,273.86,7.87

In [28]:
# Annual order cost
Annual_Order_Cost = Order_Frequency * s_ast
df['Annual_Holding_Cost'] = df['Optimal_Order_Size'] * df['Holding_Cost_Per_Unit'] / 2

Annual_Total_Cost = Annual_Order_Cost + df['Annual_Holding_Cost'].sum()

Annual_Total_Cost

2284.7

# Question 3

In [29]:
# Most frequently ordered product
df['Order_Frequency'] = round(df['Demand'] / df['EOQ'], 2)
df['Order_Frequency']

df

,Product,Demand,Common_Ordering_Cost,Specific_Ordering_Cost,Unit_Cost,Holding_Cost_Rate,Holding_Cost_Per_Unit,Fixed_Ordering_Cost,EOQ,Annual_Ordering_Cost,Annual_Holding_Cost,Total_Annual_Operational_Cost,Optimal_Order_Size,Order_Frequency
0,1,1000,100,10,50,0.2,10.0,110,148.32,741.64,787.40,1483.24,157.48,6.74
1,2,300,100,20,60,0.2,12.0,120,77.46,464.76,283.44,929.52,47.24,3.87
2,3,100,100,25,30,0.2,6.0,125,64.55,193.65,47.25,387.30,15.75,1.55
3,4,50,100,25,30,0.2,6.0,125,45.64,136.94,23.61,273.86,7.87,1.10

In [30]:
df['Order_Frequency_M'] = round(df['Order_Frequency'].iloc[0] / df['Order_Frequency'])

df

,Product,Demand,Common_Ordering_Cost,Specific_Ordering_Cost,Unit_Cost,Holding_Cost_Rate,Holding_Cost_Per_Unit,Fixed_Ordering_Cost,EOQ,Annual_Ordering_Cost,Annual_Holding_Cost,Total_Annual_Operational_Cost,Optimal_Order_Size,Order_Frequency,Order_Frequency_M
0,1,1000,100,10,50,0.2,10.0,110,148.32,741.64,787.40,1483.24,157.48,6.74,1.0
1,2,300,100,20,60,0.2,12.0,120,77.46,464.76,283.44,929.52,47.24,3.87,2.0
2,3,100,100,25,30,0.2,6.0,125,64.55,193.65,47.25,387.30,15.75,1.55,4.0
3,4,50,100,25,30,0.2,6.0,125,45.64,136.94,23.61,273.86,7.87,1.10,6.0

In [31]:
# Product1
n2 = 12*300*1 + 6*100*2 + 6*50*3
d2 = 2 * (100 + (20/1 + 25/2 + 25/3))

df['Order_Frequency'].iloc[0] = round((n2 / d2) ** 0.5, 2)

# Product2
n3 = 10*1000*1 + 6*100*2 + 6*50*3
d3 = 2 * (100 + (10/1 + 25/2 + 25/3))

df['Order_Frequency'].iloc[1] = round((n3 / d3) ** 0.5, 2)

# Product3
n4 = 10*1000*1 + 12*300*1 + 6*50*3
d4 = 2 * (100 + (10/1 + 20/1 + 25/3))

df['Order_Frequency'].iloc[2] = round((n4 / d4) ** 0.5, 2)

# Product4
n5 = 10*1000*1 + 12*300*1 + 6*100*2
d5 = 2 * (100 + (10/1 + 20/1 + 25/2))

df['Order_Frequency'].iloc[3] = round((n5 / d5) ** 0.5, 2)

df

C:\Users\heeye\AppData\Local\Temp\ipykernel_4556\3258516866.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order_Frequency'].iloc[0] = round((n2 / d2) ** 0.5, 2)
C:\Users\heeye\AppData\Local\Temp\ipykernel_4556\3258516866.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order_Frequency'].iloc[1] = round((n3 / d3) ** 0.5, 2)
C:\Users\heeye\AppData\Local\Temp\ipykernel_4556\3258516866.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order_Frequency'].iloc[2] = round((n4 / d4) ** 0.5, 2)
C:\Users\heeye\AppData\Local\Temp\ipykernel_4556\3258516866.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order_Frequency'].iloc[3] = round((n5 / d5) ** 0.5, 2)

,Product,Demand,Common_Ordering_Cost,Specific_Ordering_Cost,Unit_Cost,Holding_Cost_Rate,Holding_Cost_Per_Unit,Fixed_Ordering_Cost,EOQ,Annual_Ordering_Cost,Annual_Holding_Cost,Total_Annual_Operational_Cost,Optimal_Order_Size,Order_Frequency,Order_Frequency_M
0,1,1000,100,10,50,0.2,10.0,110,148.32,741.64,787.40,1483.24,157.48,4.50,1.0
1,2,300,100,20,60,0.2,12.0,120,77.46,464.76,283.44,929.52,47.24,6.80,2.0
2,3,100,100,25,30,0.2,6.0,125,64.55,193.65,47.25,387.30,15.75,7.24,4.0
3,4,50,100,25,30,0.2,6.0,125,45.64,136.94,23.61,273.86,7.87,7.21,6.0

In [32]:
# Calculate the optimal order size 
df['Optimal_Order_Size'] = round(df['Demand'] / Order_Frequency, 2)
df

,Product,Demand,Common_Ordering_Cost,Specific_Ordering_Cost,Unit_Cost,Holding_Cost_Rate,Holding_Cost_Per_Unit,Fixed_Ordering_Cost,EOQ,Annual_Ordering_Cost,Annual_Holding_Cost,Total_Annual_Operational_Cost,Optimal_Order_Size,Order_Frequency,Order_Frequency_M
0,1,1000,100,10,50,0.2,10.0,110,148.32,741.64,787.40,1483.24,157.48,4.50,1.0
1,2,300,100,20,60,0.2,12.0,120,77.46,464.76,283.44,929.52,47.24,6.80,2.0
2,3,100,100,25,30,0.2,6.0,125,64.55,193.65,47.25,387.30,15.75,7.24,4.0
3,4,50,100,25,30,0.2,6.0,125,45.64,136.94,23.61,273.86,7.87,7.21,6.0

In [33]:
# Change 'Fixed_Ordering_Cost'
df['Fixed_Ordering_Cost'].iloc[1] = 120
df['Fixed_Ordering_Cost'].iloc[2] = 125
df['Fixed_Ordering_Cost'].iloc[3] = 125
df

C:\Users\heeye\AppData\Local\Temp\ipykernel_4556\1271956692.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Fixed_Ordering_Cost'].iloc[1] = 120
C:\Users\heeye\AppData\Local\Temp\ipykernel_4556\1271956692.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Fixed_Ordering_Cost'].iloc[2] = 125
C:\Users\heeye\AppData\Local\Temp\ipykernel_4556\1271956692.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Fixed_Ordering_Cost'].iloc[3] = 125

,Product,Demand,Common_Ordering_Cost,Specific_Ordering_Cost,Unit_Cost,Holding_Cost_Rate,Holding_Cost_Per_Unit,Fixed_Ordering_Cost,EOQ,Annual_Ordering_Cost,Annual_Holding_Cost,Total_Annual_Operational_Cost,Optimal_Order_Size,Order_Frequency,Order_Frequency_M
0,1,1000,100,10,50,0.2,10.0,110,148.32,741.64,787.40,1483.24,157.48,4.50,1.0
1,2,300,100,20,60,0.2,12.0,120,77.46,464.76,283.44,929.52,47.24,6.80,2.0
2,3,100,100,25,30,0.2,6.0,125,64.55,193.65,47.25,387.30,15.75,7.24,4.0
3,4,50,100,25,30,0.2,6.0,125,45.64,136.94,23.61,273.86,7.87,7.21,6.0

In [34]:
# Annual order cost
df['Annual_Holding_Cost'] = df['Optimal_Order_Size'] * df['Holding_Cost_Per_Unit'] / 2
Annual_Total_Cost = df['Annual_Holding_Cost'].sum() + df['Annual_Holding_Cost'].sum()

round(Annual_Total_Cost, 1)

2283.4